@media (min-width: 870px){    
    .grid-container{
        grid-template-columns: 274px auto 274px;
        grid-template-rows: 65px calc(100% - 105px) 40px;
    }
    .grid-item-content{
        grid-column: 2/4;
    }
    .grid-item-title{
        display: flex;
        align-items: center;
    
        padding-left: 24px;
        
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 19px;
        font-weight: normal;
    }
    .grid-item-system{
        grid-column: 1/4;
        display: flex;
        background-color: rgb(245, 246, 248);
    }
    .stability{
        display: none;
    }
    .samplescreen{
        display: none;   
    }
    #introholdermobile{
        display: none;
    }
    #intromenu{
        display: flex;
        justify-content: center;
        align-items: center;

        height: 40px;
        font-weight: bold;
        cursor: pointer;
    }
}
